@{
    ViewData["Title"] = "Mantenimiento Notas";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="List" asp-controller="Alumnos" class="btn btn-primary">Ver Lista de notas por alumno</a>
</div>
